<div class="container top-container">

  <div id="nickWrap">
    <p>Enter a username:</p>
    <p id="nickError"></p>
    <form id="setNick" action="/chat/login" method="POST">
      <input size="35" id="nickname" name="nickname"></input>
    </form>
  </div>

  <div id="contentwrap" style="display: none">
    <div id="chatWrap">
      <div id="chat"></div>
      <form id="send-message">
        <input size="35" id="message"></input>
        <input type="submit"></input>
      </form>
    </div>
    <div id=users></div>
  </div>
</div>
<!--   Full name:<input id="user_name" type="text"/><br>
  Send to: <input type="text" id="to"/><br>
  The contents of the message: <input type=" text" id=" message" /> <button type=" button" id=" send" > send</button>
  <ul id="message_list">
    
  </ul> -->