<div class="container top-container">
    <div class="row">
        <div class="container">

            <body>
                <!-- start padding container -->
                <div class="wrap">
                    <!-- start jtinder container -->
                    <div id="tinderslide">
                        <ul>
                            <li class="pane1">
                                <div class="img"></div>
                                <div>Miami Beach</div>
                                <div class="like"></div>
                                <div class="dislike"></div>
                            </li>
                            <li class="pane2">
                                <div class="img"></div>
                                <div>San Francisco</div>
                                <div class="like"></div>
                                <div class="dislike"></div>
                            </li>
                            <li class="pane3">
                                <div class="img"></div>
                                <div>Chicago</div>
                                <div class="like"></div>
                                <div class="dislike"></div>
                            </li>
                            <li class="pane4" style="transform: translate(0px, 0px) rotate(0rad) skewX(0rad) scale(1, 1);">
                                <div class="img"></div>
                                <div>New York</div>
                                <div class="like" style="opacity: 0;"></div>
                                <div class="dislike" style="opacity: 0;"></div>
                            </li>
                            <li class="pane5" style="transform: translate(597px, -895.5px) rotate(1.0472rad); display: none;">
                                <div class="img"></div>
                                <div>Beach</div>
                                <div class="like"></div>
                                <div class="dislike"></div>
                            </li>
                        </ul>
                    </div>
                    <!-- end jtinder container -->
                </div>
                <!-- end padding container -->

                <!-- jTinder trigger by buttons  -->
                <div class="actions">
                    <a href="#" class="dislike"><i></i></a>
                    <a href="#" class="like"><i></i></a>
                </div>

                <!-- jTinder status text  -->
                <div id="status">Like image 5</div>
        </div>
    </div>
</div>